#sandbox {
  padding: 1rem 2rem;
  border-radius: 3px;
  background-color: #f3f3f3;
}

#output {
  overflow: auto;
  padding: 1rem 2rem;
  border-radius: 3px;
  background-color: #333;
  color: #f3f3f3;
  cursor: pointer;
}
