.container-row {
  margin: 0 -0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  align-items: space-between; // NEW!
}

.container-row > * {
  box-sizing: border-box;
  padding: 0 0.5rem;
  flex: 0 1 auto;

  display: flex;
}
.container-row > .item-12 { flex-basis: 100%; max-width: 100%; }
.container-row > .item-11 { flex-basis: calc(1100% / 12); max-width: calc(1100% / 12); }
.container-row > .item-10 { flex-basis: calc(1000% / 12); max-width: calc(1000% / 12); }
.container-row > .item-9 { flex-basis: 75%; max-width: 75%; }
.container-row > .item-8 { flex-basis: calc(200% / 3); max-width: calc(200% / 3); }
.container-row > .item-7 { flex-basis: calc(700% / 12); max-width: calc(700% / 12); }
.container-row > .item-6 { flex-basis: 50%; max-width: 50%; }
.container-row > .item-5 { flex-basis: calc(500% / 12); max-width: calc(500% / 12); }
.container-row > .item-4 { flex-basis: calc(100% / 3); max-width: calc(100% / 3); }
.container-row > .item-3 { flex-basis: 25%; max-width: 25%; }
.container-row > .item-2 { flex-basis: calc(100% / 6); max-width: calc(100% / 6); }
.container-row > .item-1 { flex-basis: calc(100% / 12); max-width: calc(100% / 12); }

.box-row {
  flex: 1 0 auto;
  overflow: auto;

  max-width: 100%;
  box-sizing: border-box;

  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 3px;
  border: 1px solid rgba(200,200,200, 0.1);
  background-color: rgba(0,0,0, 0.1);
}

.container-col {
  margin: 0 -0.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.container-col > * {
  box-sizing: border-box;
  padding: 0 0.5rem;
  flex: 0 1 auto;

  display: flex;
}
.container-col > .item-12 { flex-basis: 100%; max-height: 100%; }
.container-col > .item-11 { flex-basis: calc(1100% / 12); max-height: calc(1100% / 12); }
.container-col > .item-10 { flex-basis: calc(1000% / 12); max-height: calc(1000% / 12); }
.container-col > .item-9 { flex-basis: 75%; max-height: 75%; }
.container-col > .item-8 { flex-basis: calc(200% / 3); max-height: calc(200% / 3); }
.container-col > .item-7 { flex-basis: calc(700% / 12); max-height: calc(700% / 12); }
.container-col > .item-6 { flex-basis: 50%; max-height: 50%; }
.container-col > .item-5 { flex-basis: calc(500% / 12); max-height: calc(500% / 12); }
.container-col > .item-4 { flex-basis: calc(100% / 3); max-height: calc(100% / 3); }
.container-col > .item-3 { flex-basis: 25%; max-height: 25%; }
.container-col > .item-2 { flex-basis: calc(100% / 6); max-height: calc(100% / 6); }
.container-col > .item-1 { flex-basis: calc(100% / 12); max-height: calc(100% / 12); }

.box-col {
  flex: 1 0 auto;
  overflow: auto;

  max-height: 100%;
  box-sizing: border-box;

  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 3px;
  border: 1px solid rgba(200,200,200, 0.1);
  background-color: rgba(0,0,0, 0.1);
}

.container-col, .container-row {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.container-row .container-col,
.container-col .container-row {
  position: relative;

  margin: 0;
  padding: 0;
}


///

@media (max-width: 600px) {
  .container-row {
    display: block;
    position: relative;

    .item-1,
    .item-2,
    .item-3,
    .item-4,
    .item-5,
    .item-6,
    .item-7,
    .item-8,
    .item-9,
    .item-10,
    .item-11,
    .item-12 {
      max-width: none;
      max-height: none;
    }
  }
}

@media (max-height: 600px) {
  .container-col {
    display: block;
    position: relative;

    .item-1,
    .item-2,
    .item-3,
    .item-4,
    .item-5,
    .item-6,
    .item-7,
    .item-8,
    .item-9,
    .item-10,
    .item-11,
    .item-12 {
      max-width: none;
      max-height: none;
    }
  }
}

@media (max-width: 600px) {
  /*
  .container-row > .item-12-sm { flex-basis: 100%; max-width: 100%; }
  .container-row > .item-11-sm { flex-basis: calc(1100% / 12); max-width: calc(1100% / 12); }
  .container-row > .item-10-sm { flex-basis: calc(1000% / 12); max-width: calc(1000% / 12); }
  .container-row > .item-9-sm { flex-basis: 75%; max-width: 75%; }
  .container-row > .item-8-sm { flex-basis: calc(200% / 3); max-width: calc(200% / 3); }
  .container-row > .item-7-sm { flex-basis: calc(700% / 12); max-width: calc(700% / 12); }
  .container-row > .item-6-sm { flex-basis: 50%; max-width: 50%; }
  .container-row > .item-5-sm { flex-basis: calc(500% / 12); max-width: calc(500% / 12); }
  .container-row > .item-4-sm { flex-basis: calc(100% / 3); max-width: calc(100% / 3); }
  .container-row > .item-3-sm { flex-basis: 25%; max-width: 25%; }
  .container-row > .item-2-sm { flex-basis: calc(100% / 6); max-width: calc(100% / 6); }
  .container-row > .item-1-sm { flex-basis: calc(100% / 12); max-width: calc(100% / 12); }

  .container-col > .item-12-sm { flex-basis: 100%; max-height: 100%; }
  .container-col > .item-11-sm { flex-basis: calc(1100% / 12); max-height: calc(1100% / 12); }
  .container-col > .item-10-sm { flex-basis: calc(1000% / 12); max-height: calc(1000% / 12); }
  .container-col > .item-9-sm { flex-basis: 75%; max-height: 75%; }
  .container-col > .item-8-sm { flex-basis: calc(200% / 3); max-height: calc(200% / 3); }
  .container-col > .item-7-sm { flex-basis: calc(700% / 12); max-height: calc(700% / 12); }
  .container-col > .item-6-sm { flex-basis: 50%; max-height: 50%; }
  .container-col > .item-5-sm { flex-basis: calc(500% / 12); max-height: calc(500% / 12); }
  .container-col > .item-4-sm { flex-basis: calc(100% / 3); max-height: calc(100% / 3); }
  .container-col > .item-3-sm { flex-basis: 25%; max-height: 25%; }
  .container-col > .item-2-sm { flex-basis: calc(100% / 6); max-height: calc(100% / 6); }
  .container-col > .item-1-sm { flex-basis: calc(100% / 12); max-height: calc(100% / 12); }
  */
}
